/* #imgprev {
    width: 600px;
    height: auto;
} */

@font-face {
    font-family: "Mount";
    src: url("mount.otf");
}

.profilecanva {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

#profilename,
#profilelname,
#classof,
img#imgprev,
img#mainimg {
    position: absolute;
}

img#imgprev {
    left: 72%;
    top: 44%;
    width: 24rem;
    transform: translate(-50%, -50%);
}

img#mainimg {
    left: 0;
    top: 0;
    z-index: 1;
    /* width: 37.5rem; */
    width: 100%;
}

#profilename,
#profilelname,
#classof {
    z-index: 2;
    font-weight: 700;
    color: #000;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    text-align: left;
}

p#profilename,
p#profilelname,
p#classof {
    /* transform: translate(-50%, -50%); */
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    left: 10%;
    text-transform: uppercase;
}

p#profilename {
    top: 49.8%;
    font-size: 1.2rem;
}

p#profilelname {
    top: 49.5%;
    font-size: 1.5rem;
    color: #218261;
    /* letter-spacing: 0.1rem;
    font-family: 'Mount', sans-serif; */
    left: 26%;
}

p#classof {
    top: 55%;
    left: 33%;
    font-size: 1.3rem;
}

.space {
    height: 40px;
}