/* #imgprev {
    width: 600px;
    height: auto;
} */

@font-face {
    font-family: "Mount";
    src: url("mount.otf");
}

.profilecanva {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    overflow: hidden;
}

#profilename,
#profilelname,
#classof,
img#imgprev,
img#mainimg {
    position: absolute;
}

img#imgprev {
    left: 51.5%;
    top: 44%;
    width: 25.5rem;
    transform: translate(-50%, -50%);
}

img#mainimg {
    left: 0;
    top: 0;
    z-index: 1;
    /* width: 37.5rem; */
    width: 100%;
}

#profilename,
#profilelname,
#classof {
    z-index: 2;
    font-weight: 700;
    color: #000;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
    text-align: left;
}

p#profilename,
p#profilelname,
p#classof {
    /* transform: translate(-50%, -50%); */
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    left: 10%;
    text-transform: uppercase;
}

p#profilename {
    top: 74.5%;
    font-size: 1.2rem;
}

p#profilelname {
    top: 49.5%;
    font-size: 1.5rem;
    color: #218261;
    /* letter-spacing: 0.1rem;
    font-family: 'Mount', sans-serif; */
    left: 26%;
}

p#classof {
    top: 74%;
    left: 78%;
    font-size: 1.3rem;
}

.space {
    height: 40px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }